@model EF_8.Models.CabFrasGlobal

@{
    ViewBag.Title = "Index";
}
<head>

    <script type="text/javascript " src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
        
            $("#cmbbox").val("");
            //$("#text1").val(0);
            $(":text").each(function(){
                $($(this)).val('');
                });

        });
    </script>

</head>

<h2>Index</h2>
@ViewBag.Serie
@using (Html.BeginForm())
{



    <div class="editor-field">

        <p>
            @Html.DropDownList("IDPACIENTE", new SelectList(Model.PacientesGlob, "IDPACIENTE", "NOMBRE_Y_APELLIDOS"), "-- seleccione --", new { id = "cmbbox" })
        </p>

        <p>
            @Html.LabelFor(model => model.TOTAL)    @Html.EditorFor(model => model.TOTAL)

        </p>
        @*@Html.EditorFor(model => model.TOTAL, null, "text1")*@




        <input type="submit" value="Manda" />
    </div>


    <p>
        <input id="boton01" type="button" value="button" />

    </p>
}

